<ion-header>
  <ion-toolbar>
    <ion-title class="titleicon" style="display:inline-block"> Save </ion-title>
    <img slot="end" class="cross_button" src="../../assets/icon/cross_2.png" style="display:inline-block" (click)="cancel()"/>
  </ion-toolbar>
</ion-header>

<ion-content class="center-content">
  <!-- Sección adicional para 'speech' -->
  <ion-text class="center-text">
   Name of Routine: 
  </ion-text>

      <!-- Campo de entrada de texto -->
      <ion-input class="center-input" placeholder="Name Routine" [(ngModel)]="this.name_routine"></ion-input>

  <!-- Contenedor para los botones centrados horizontalmente en el margen -->
  <div class="center-buttons">
    <ion-button class="small-button" (click)="save()">Save Routine</ion-button>
    
  </div>
</ion-content>
