<ion-header>
  <ion-toolbar>
    <ion-title class="titleicon"> Save </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <img class="cross_button" width="40" height="40" src="https://img.icons8.com/ultraviolet/40/cancel.png" alt="cancel"/>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="center-content">
  <ion-text class="center-text">
    Name of Routine: 
  </ion-text>

  <ion-input class="center-input" placeholder="Name Routine" [(ngModel)]="name_routine"></ion-input>

  <div class="center-buttons">
    <ion-button class="small-button save-button" (click)="save()">
      <img width="50" height="50" src="https://img.icons8.com/ios/50/save--v1.png" alt="save"/>
      saved
    </ion-button>
  </div>
  