ion-toolbar {
  --background: var(--ion-color-success);
}

ion-title {
  --color: #ffffff;
}

ion-content{
  --padding-start: 5%;
  --padding-top: 5%;
  --padding-end: 5%;
  --padding-bottom: 10%;
  --background: var(--ion-color-light)
}

ion-input.center-input {
  width: 100%;
  border: 2px solid var(--ion-color-success); /* Cambia este valor al color que desees para el borde */
  border-radius: 5px; /* Ajusta este valor para que la caja se vea ovalada */
  margin-top: 2%;
  margin-bottom: 2%;
}