.block {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ion-modal {
    --height: auto;
  }
  
  ion-title {
    --color: #000000;
  }
  
  ion-toolbar {
    --background: green;
  }

  .cross_button{
    width: 5%;
    height: 5%;
    margin-right:3%;
  }

  ion-content {
    --align-items: center;
    --padding-start: 5%;
    --padding-end: 5%;
    --padding-top: 3%;
  }

  .face{
    width: 45%;
    height: 45%;
    align-content: center;
  }

  .button_save{
    padding-top: 5%;
    margin-right: 10px;
    width: 150px;   // Ajusta según tu preferencia
    height: 70px; 
    margin-left: 210px;
    margin-top: 25%;
  }

 

 

  .my_select {
    margin-right: 180px;
    width: auto; 
    height: 70px; 
    margin-left: 180px;
    margin-top: 5%;
    font-size: 25px; 

  }

  .this {

    margin-right: 20px;
  }

  ion-select .select-text {
    font-size: 25px; /* Ajusta el valor según sea necesario */
  }

  .ion-select {
    --placeholder-color: #971e49;
    --placeholder-opacity: 1;
     width: 100%;
     font-size: 25px; 
     padding: 10px; 
     border-radius: 10px;
    --ion-color-base: var(--ion-color-primary);

  }

  ion-select::part(text) {
    color: #0c22e4;
  }