<ion-header> <!--For the characteristics component-->
  <ion-toolbar [ngClass]="{'toolbar-red':block.class === 'body_gesture', 'toolbar-green':block.class === 'facial_expression', 'toolbar-yellow': block.class === 'speech'}">
    <ion-title class="titleicon" style="display:inline-block"> Update Parameter </ion-title>
    <img slot="end" class="cross_button" src="../../assets/icon/cross.png" style="display:inline-block" (click)="cancel()"/>
  </ion-toolbar>
</ion-header>

<ion-content class="pop-up-content" [ngSwitch]="block.class"> <!--Changing the types depending on the class-->
    <div class="ion-text-center" *ngSwitchCase="'facial_expression'">
      <ion-text>¿What level would you like “{{block.name}}”?</ion-text>
      <ion-range aria-label="Range with ticks" [ticks]="true" [snaps]="true" [min]="0" [max]="2" [pin]="true" [pinFormatter]="pinFormatter" [(ngModel)]="selectedValue"></ion-range>
      <ion-img class="face" src="../../assets/face.png"></ion-img>
    </div>
      
    <div class="ion-text-center" *ngSwitchCase="'body_gesture'">
      <ion-text>¿What level would you like “{{block.name}}”?</ion-text>
      <ion-range aria-label="Range with ticks" [ticks]="true" [snaps]="true" [min]="0" [max]="2" [pin]="true" [pinFormatter]="pinFormatter" [(ngModel)]="selectedValue"></ion-range>
    </div>

    <div class="ion-text-center" *ngSwitchCase="'speech'">
      <ion-text>¿What would you like your robot to say?</ion-text>
      <ion-input placeholder="Text Here" [(ngModel)]="talk"></ion-input>
      <ion-list class="my_select">
        <ion-item>
          <ion-select aria-label="fruit" placeholder="Tone of voice" [(ngModel)]="tone_voice">
            <ion-select-option value="Angry">Angry</ion-select-option>
            <ion-select-option value="Happy">Happy</ion-select-option>
            <ion-select-option value="Sad">Sad</ion-select-option>
            <ion-select-option value="Screaming">Screaming</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
    
    <div *ngSwitchDefault>
      ERROR
    </div>
   
    <ion-button class="button_save" colors="success" (click)="save()">Save Changes</ion-button>

</ion-content>