.block {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ion-modal {
    --height: auto;
  }
  
  ion-title {
    --color: #000000;
  }
  
  ion-toolbar {
    --background: #c897d8;
  }

  .cross_button{
    width: 3%;
    height: 3%;
    margin-right:3%;
  }

  ion-content {
    --align-items: center;
    --padding-start: 5%;
    --padding-end: 5%;
    --padding-top: 3%;
  }

  .face{
    width: 50%;
    height: 50%;
    align-content: center;
  }