<ion-nav >
  <ion-content class="routineStyle">
<ion-header>
  <ion-toolbar>
    <ion-title class="titleicon" style="display:inline-block"> Routines </ion-title>
    <img slot="end"  style="display:inline-block" />
  </ion-toolbar>
</ion-header>

<div class="ion-text-center button-container">
  <div >
    <ion-button class="small-button1" (click)="buttonDelete()">Delete</ion-button>
    <ion-button class="small-button2" (click)="buttonDownload()">Download</ion-button>
  </div> 
</div>
</ion-content>
</ion-nav>
