
$colors: (
  Blue:    #488aff,
  Green:  #32db64,
  Red:     #f53d3d,
  White:      #f4f4f4,
  Orange: #e9982f
);

.padding_every{
  padding: 1%;
}

.start-button {
  background-color: transparent; /* Hace que el fondo del botón sea transparente */
  color: var(--ion-color-primary); /* Aplica el color azul definido en variables.scss */
  padding: 10px 20px; /* Ajusta el espaciado del botón según sea necesario */
  border: 2px solid var(--ion-color-primary); /* Agrega un borde azul alrededor del botón */
  border-radius: 8px; /* Añade esquinas redondeadas al botón */
  cursor: pointer; /* Cambia el cursor al estilo de mano al pasar por encima del botón */
  max-width: 100%!important;
}

.padding{
  max-width: 2%!important;
}

.center{
  //padding-top: 2%!important;
  max-width: 2%!important;
  height: 5%!important;
  align-items: center;
  justify-content: center;
}

.grid-cell {
  //padding: 10px; /* Add padding for spacing */
  width: 80%;
  border: 1px solid red;
  padding: 10px;
  //width: (box-sizing + 5000px)!important;
  align-items: center; /* Center text within cells */
  color: #6002ed;
  text-align: center;
}

.text-inside{
  //margin-top: 10px;
  border: 1px solid green;
}