<ion-content [scrollEvents]="true"
  (ionScroll)="onScroll($event)">

  <ion-grid class="ion-text-center ion-align-items-center" #grid>
    
    <ion-row>
      
      <ion-col>
        <div class="start-button">
          <ion-title #start>START</ion-title>
        </div>
      </ion-col>
    </ion-row>
  
  </ion-grid>
  
  <ion-grid class="ion-text-left" id="grid">
  
  <ion-row *ngFor="let row of current_routine.array_block; let i = index" #blockRef>
    <ion-col class="padding" id="padding"></ion-col>
    <ion-col class="center">
      <ion-text>{{i}}</ion-text>
    </ion-col>
    <ion-col size="auto" *ngFor="let block of row">
      <ion-button 
        draggable="true"
        (dragstart)="dragMoving($event, undefined, block, true)"
        (dragend)="dragFuncion($event, undefined, block, true)" 
        size="large" 
        color="{{block.get_color()}}" 
        (click)="openPopUp(block, $event)">
        {{block.name}}
      </ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>
  
  <ion-grid class="ion-text-center ion-align-items-center" #end>
  
  <ion-row>
    <ion-col>
      <div class="start-button">
        <ion-title>END</ion-title>
      </div>
    </ion-col>
  </ion-row>
  
  </ion-grid>

</ion-content>
