<ion-nav [root]="rootPage2" name="panel2">
  <ion-content  class="mi_scroll"
                [scrollEvents]="true"
                (ionScrollStart)="handleScrollStart()"
                (ionScroll)="handleScroll($any($event))"
                (ionScrollEnd)="handleScrollEnd()" >
    <ion-list class="my-componente2">
      <ion-item *ngFor="let item of options; let index">
        <ion-avatar slot="start">
          <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
        </ion-avatar>
        <ion-label>{{ item }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-nav>
<!-- ion-nav [root]="rootPage3" name="panel3"></ion-nav -->

<!--              -->
