<ion-nav name="panel2">
  <ion-content
    #scrollContent
    [scrollEvents]="true"
    (ionScrollStart)="handleScrollStart()"
    (ionScroll)="handleScroll($any($event))"
    (ionScrollEnd)="handleScrollEnd()"
    class="side2"
  >
    <ion-list class="my-componente2">
      <ion-item
        *ngFor="let item of options; let index"
        draggable="true"
        (dragend)="onDragEnd($event, item)"
        color="{{ item.color }}"
        class="desaturate-color"
        title="{{ item.description }}"
        id = "{{item.label}}" 
        (contextmenu)="openPopover(item.color, $event)">
        <ion-avatar slot="start">
          <img
            [src]="'https://picsum.photos/80/80?random=' + index"
            alt="avatar"
          />
        </ion-avatar>
        <ion-label>{{ item.label }}</ion-label>
      </ion-item>
    </ion-list>
    <!-- (ionInfinite)="onIonInfinite($event)"  -->

    <!--ion-infinite-scroll >
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll -->
  </ion-content>
</ion-nav>

<ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" triggerAction="context-menu">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="true" [detail]="false">Delete</ion-item>
        <ion-item [button]="true" [detail]="false">Download</ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>


