<ion-nav [root]="rootPage2" name="panel2">
  <ion-content  class="mi_scroll"
                [scrollEvents]="true"
                (ionScrollStart)="handleScrollStart()"
                (ionScroll)="handleScroll($any($event))"
                (ionScrollEnd)="handleScrollEnd()" >
    <ion-list class="my-componente2">
      <ion-item title="{{ emotion.valor }}" *ngFor="let emotion of emotions">
        <ion-label>{{ emotion.clave }} </ion-label>  
        <ion-avatar slot="start">
          <!-- TODO: Cambiar por [src]="{{emotion.imgUrl}}"-->
          <img [src]="'https://picsum.photos/80/80?random='" alt="avatar" />
        </ion-avatar>
        
      </ion-item> 
      
    </ion-list>
  </ion-content>
</ion-nav>