ion-menu ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #e78bc2));
  }
   

  .f-exp ion-button {
    width: 100%;
    height: 100px;  /*100%*/
    font-size: 1rem;
    justify-content: flex-start;
    text-align: left;
  }
  
  .f-exp{
    width: 100%!important; /* Ancho personalizado en píxeles */
    height: 70px; /* Alto personalizado en píxeles */
    font-size: 9px;
    justify-content: flex-start;
    text-align: left;
  }
  
  .f-exp ion-label {
    font-size: 1rem; /* Centrar el texto horizontalmente */
    justify-content: flex-start;
    text-align: left;
  }
  
  
  /*  CSS DEL ICONO DEL CIRCULO*/
  .circulo_azul {
    width: 30px; /* Ancho del círculo */
    height: 30px; /* Alto del círculo */
    background-color: #007bff; /* Color de fondo del círculo */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Color del ícono */
  }
  
  .circulo_morado {
    width: 30px; /* Ancho del círculo */
    height: 30px; /* Alto del círculo */
    background-color: #5260ff; /* Color de fondo del círculo */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Color del ícono */
  }
  
  .circulo_verde {
    width: 30px; /* Ancho del círculo */
    height: 30px; /* Alto del círculo */
    background-color: #2dd36f; /* Color de fondo del círculo */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Color del ícono */
  }
  
  .circulo_amarillo {
    width: 30px; /* Ancho del círculo */
    height: 30px; /* Alto del círculo */
    background-color: #ffc409; /* Color de fondo del círculo */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Color del ícono */
  }
  
  .circulo_naranja {
    width: 30px; /* Ancho del círculo */
    height: 30px; /* Alto del círculo */
    background-color: #eea53f; /* Color de fondo del círculo */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Color del ícono */
  }
  
  .circulo_rojo {
    width: 30px; /* Ancho del círculo */
    height: 30px; /* Alto del círculo */
    background-color: #eb445a; /* Color de fondo del círculo */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Color del ícono */
    
  }

  .circulo {
    width: 30px; /* Ancho del círculo */
    height: 30px; /* Alto del círculo */
    background-color: #92949c; /* Color de fondo del círculo */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Color del ícono */
    
  }
  
  ion-icon {
    font-size: 24px; /* Tamaño del ícono */
  }

  .my-componente1{
    max-width: 100%!important;
  }

  ion-button [slot="start"] {
    justify-content: flex-start;
  }