
.sidebar {
  background-color: #34344fd0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  position: fixed;
  z-index: 1;
}

/* Estilo para el contenido principal de sidebar-second */
.content {
  position: relative;
  z-index: 0;
  padding-left: 60px;
}

ion-header ion-title {
  color: #f2f2f8d0;
  font-family: 'Liberation Sans', sans-serif;
  text-align: right;
  font-size: 22px;
  position: absolute;
  top: 18px;
  left: 35px;
}

/* Estilos para la cabecera de la barra lateral de sidebar-second */
ion-header .custom-header {
  --background: #141637;
  border-radius: 20px;
  width: 100%;
  height: 85px;
  position: relative;
  z-index: 1;
}


/* Estilos para el acordeón y sus elementos en sidebar-second */
ion-accordion-group {
  background-color: #141637;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  top: 9vh;
  width: 100%;
  height: 120vh;
  border-radius: 0;
}

/* Estilos para el contenido del acordeón de "body-gestures" */
ion-accordion[value="body-gestures"] div[slot='content'] {
  background-color: #222121c6; /* Cambia el color de fondo según tus preferencias */
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

/* Estilos para los botones dentro del acordeón de "body-gestures" */
ion-accordion[value="body-gestures"] ion-button {
  background-color: #0074e4; /* Cambia el color de fondo según tus preferencias */
  color: white; /* Cambia el color del texto */
  margin: 5px;
}

/* Estilos para el contenido del acordeón de "facial-expressions" */
ion-accordion[value="facial-expressions"] div[slot='content'] {
  background-color: #222121c6; /* Cambia el color de fondo según tus preferencias */
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

/* Estilos para los botones dentro del acordeón de "facial-expressions" */
ion-accordion[value="facial-expressions"] ion-button {
  background-color: #0074e4; /* Cambia el color de fondo según tus preferencias */
  color: white; /* Cambia el color del texto */
  margin: 5px;
}

/* Estilos para el contenido del acordeón de "sounds" */
ion-accordion[value="sounds"] div[slot='content'] {
  background-color: #222121c6; /* Cambia el color de fondo según tus preferencias */
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

/* Estilos para los botones dentro del acordeón de "sounds" */
ion-accordion[value="sounds"] ion-button {
  background-color: #0074e4; /* Cambia el color de fondo según tus preferencias */
  color: white; /* Cambia el color del texto */
  margin: 5px;
}

/* Estilos para la barra lateral de sidebar-second */
