/* Estilos para la barra lateral de sidebar-second */
.sidebar {
  background-color: #34344fd0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  position: fixed;
  z-index: 1;
}

/* Estilo para el contenido principal de sidebar-second */
.content {
  position: relative;
  z-index: 0;
  padding-left: 60px;
}

/* Estilos para la cabecera de la barra lateral de sidebar-second */
ion-header .custom-header {
  --background: #141637;
  border-radius: 20px;
  width: 100%;
  height: 85px;
  position: relative;
  z-index: 1;
}

ion-header ion-title {
  color: #f2f2f8d0;
  font-family: 'Liberation Sans', sans-serif;
  text-align: right;
  font-size: 22px;
  position: absolute;
  top: 18px;
  left: 35px;
}

/* Estilos para el acordeón y sus elementos en sidebar-second */
ion-accordion-group {
  background-color: #141637;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  top: 9vh;
  width: 100%;
  height: 120vh;
  border-radius: 0;
}


/* Estilos para el acordeón y sus elementos */
ion-accordion-group.custom {
  background-color: #141637;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  top: 9vh;
  width: 100%;
  height: 120vh;
  border-radius: 0;
}

div[slot='content'] {
  background: rgba(var(--ion-color-rose-rgb), 0.25);
}

/* Estilos para el contenido del acordeón */
ion-accordion div[slot='content'] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--ion-color-rose-rgb), 0.1);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

/* Estilo personalizado para los bloques en el sidebar */
ion-button.custom-block {
  /* Agrega tus estilos personalizados aquí */
  background-color: #141637; /* Cambia el color de fondo según tus preferencias */
  color: white; /* Cambia el color del texto */
  border: none; /* Elimina el borde si lo deseas */
  /* Agrega más estilos personalizados si es necesario */
}
