<ion-app>
  <ion-split-pane class="parte_1" contentId="main-content">
    <!-- AQUI COMIENZA EL PRIMER SIDEBAR -->
      <ion-content  contentId="left-content">
        <app-sidebar-first></app-sidebar-first>
      </ion-content>
      <!-- AQUI COMIENZA EL SEGUNDO SIDEBAR -->
      <ion-content contentId="center-content">
        <ion-nav [root]="rootPage2" name="panel2">
          <app-sidebar-second></app-sidebar-second>
        </ion-nav>
      </ion-content>
      <!-- AQUI COMIENZA EL AREA DE RUTINA -->
        <app-block-component></app-block-component>
    </ion-split-pane>
</ion-app>
