$colors: (
  Blue:    #488aff,
  Green:  #32db64,
  Red:     #f53d3d,
  White:      #f4f4f4,
  dark:       #222

);

ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #e78bc2));
}

ion-menu.md ion-content {
  --padding-start: 5px;
  --padding-end: 5px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}


.f-exp ion-button {
  width: 100%;
  height: 100px;  /*100%*/
  font-size: 1rem;
  
}

.f-exp{
  width: 100px; /* Ancho personalizado en píxeles */
  height: 70px; /* Alto personalizado en píxeles */
  font-size: 9px; 
  
}

.f-exp ion-label {
  font-size: 1rem; /* Centrar el texto horizontalmente */
}


/*  CSS DEL ICONO DEL CIRCULO*/
.circulo_azul {
  width: 30px; /* Ancho del círculo */
  height: 30px; /* Alto del círculo */
  background-color: #007bff; /* Color de fondo del círculo */
  border-radius: 50%; /* Hace que el contenedor sea circular */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Color del ícono */
}

.circulo_morado {
  width: 30px; /* Ancho del círculo */
  height: 30px; /* Alto del círculo */
  background-color: #e335dd; /* Color de fondo del círculo */
  border-radius: 50%; /* Hace que el contenedor sea circular */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Color del ícono */
}

.circulo_verde {
  width: 30px; /* Ancho del círculo */
  height: 30px; /* Alto del círculo */
  background-color: #6be765; /* Color de fondo del círculo */
  border-radius: 50%; /* Hace que el contenedor sea circular */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Color del ícono */
}

.circulo_amarillo {
  width: 30px; /* Ancho del círculo */
  height: 30px; /* Alto del círculo */
  background-color: #dfe560; /* Color de fondo del círculo */
  border-radius: 50%; /* Hace que el contenedor sea circular */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Color del ícono */
}

.circulo_naranja {
  width: 30px; /* Ancho del círculo */
  height: 30px; /* Alto del círculo */
  background-color: #eea53f; /* Color de fondo del círculo */
  border-radius: 50%; /* Hace que el contenedor sea circular */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Color del ícono */
}

.circulo {
  width: 30px; /* Ancho del círculo */
  height: 30px; /* Alto del círculo */
  background-color: #ffffff; /* Color de fondo del círculo */
  border-radius: 50%; /* Hace que el contenedor sea circular */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Color del ícono */
  
}

ion-icon {
  font-size: 24px; /* Tamaño del ícono */
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #b50d80);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 20px;

  color: #2416e6;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #0fe424;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #cfdc1a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 100px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
