.left-content {
    max-width: 500%!important;
}

app-sidebar-second {
    height: 100%; /* Set an appropriate height */
    max-width: 500%!important;
  }

  ion-menu {
    max-width: 500%!important;
}
/* Parte que mofifica el Sidebar*/
.parte_1{
  width: 100%!important; /* Ajusta el ancho según tus necesidades */
  height: 100%; /* Ajusta la altura según tus necesidades */
}

.first{
  max-width: 0.1%!important; /* Ajusta el ancho según tus necesidades */
  height: 100%; /* Ajusta la altura según tus necesidades */
  text-align: start;
}

.second{
  max-width: 8%!important; /* Ajusta el ancho según tus necesidades */
  height: 100%; /* Ajusta la altura según tus necesidades */
}

.third{
  max-width: 70%!important; /* Ajusta el ancho según tus necesidades */
  height: 100%; /* Ajusta la altura según tus necesidades */
}

.scrollable-content {
    overflow: auto; /* Allow scrolling if content overflows */
    max-height: 100%; /* Ensure content doesn't exceed the available space */
  }

.clear{
  max-width: 12%!important;
  position: fixed;
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  right: 20px; /* Adjust the distance from the right as needed */
}

.save{
  max-width: 8%!important;
  position: fixed;
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  right: 140px; /* Adjust the distance from the right as needed */
}