<ion-app>
  <ion-split-pane class="parte_1" contentId="main-content">
    <!-- AQUI COMIENZA EL PRIMER SIDEBAR 
      <ion-content  contentId="left-content" class="first">
        <app-sidebar-first></app-sidebar-first>
      </ion-content>-->
      <!-- AQUI COMIENZA EL SEGUNDO SIDEBAR 
      <ion-content contentId="center-content" class="second">
        <app-sidebar-second></app-sidebar-second>
      </ion-content> -->
      <!-- AQUI COMIENZA EL AREA DE RUTINA -->
      <ion-content contentId="left-content" class="first" color="light">
        <app-sidebar-accordeon ></app-sidebar-accordeon>
      </ion-content>
      <ion-content contentId="right-content" class="third">
        <ion-grid>
          <ion-row>
            <ion-col><div #botonesContainer class="botones-container"></div></ion-col>
            <ion-col class="ion-text-right" size="auto"><ion-button (click)="Switch_View()">Switch To<br>YAML View</ion-button></ion-col>
          </ion-row>          
        </ion-grid>
        <app-block-component *ngIf="block_view"></app-block-component>

        <pre style="padding: 15px;" *ngIf="!block_view" id="myText"></pre>
      </ion-content>
    </ion-split-pane>
  
  <ion-button size="large" color="medium" class="clear" (click)="onNewPressed()">NEW</ion-button>
  <ion-button size="large" color="success" class="save" (click)="saveRoutine()">SAVE</ion-button>
  <!-- <ion-button size="large" color="secondary" class= "tabs" (click)="agregarTabAlContainer()">New Tab</ion-button> -->
</ion-app>


<!--  (agregarTabEvent)="agregarTabAlContainer()"      -->
